<%= simple_form_for [:admin, actor_category], html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>

  <div class="uk-margin">
    <%= f.label :name, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :name, input_html: {class: 'uk-input'}, label: false %>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, class: 'uk-button button-color-purple' %>
    </div>
  </div>

<% end %>
