<ul class="uk-breadcrumb">
  <li> <%= link_to 'Tipos de actores', admin_actor_categories_path %> </li>
  <li><span>Nueva categoría de actor</span></li>
</ul>

<h1>Nuevo tipo de actor</h1>

<%= render 'form', actor_category: @actor_category %>
