<%= render "devise/shared/hero_devise", title: "Resend unlock instructions" %>


<div class="uk-section">
  <div class="uk-container uk-container-small">

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>
