<%= simple_form_for [:admin, @topic], html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>
  <div class="uk-margin">
    <%= f.label :name, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :name, input_html: {class: 'uk-input'}, label: false %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :icon, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <% if @topic.icon.attached? %>
        <label class="uk-button uk-button-default ">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :icon, as: :file %>
          </span>
        </label>
        <br>
        Icono actual: <img src="<%= url_for(@topic.icon) %>" width="40" height="40" uk-svg>
      <% else %>
        <label class="uk-button uk-button-default ">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :icon, as: :file %>
          </span>
        </label>
      <% end %>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, class: 'uk-button button-color-purple' %>
    </div>
  </div>
<% end %>
