<ul class="uk-breadcrumb">
  <li> <%= link_to 'Categorías', admin_topics_path %> </li>
  <li><span>Nueva categoría></span></li>
</ul>

<h1>Nueva Categoría</h1>

<div class="uk-container">
  <%= render 'form', topic: @topic %>
</div>
