<!-- Filtrar actores -->
<div class="uk-section section-color-grey-soft animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2 class="uk-text-center"> <%= t('topics.index.section_filter_title') %> </h2>
    <p class="uk-text-center"> <%= t('topics.index.section_filter_description') %> <%= t('topics.index.section_filter_button_compare_all') %> </p>
    <div uk-alert><%= t('pages.index.actors_disclaimer') %></div>

    <%= simple_form_for :search, html: {class: 'uk-form-stacked'}, url: topics_path, method: "GET" do |f| %>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-3@m pt-60">
            <h3 class="font-little-title"> <%= t('topics.index.partidos') %> </h3>
            <div class="uk-margin" style="padding-left: 25px; line-height: 1.7;">
              <%= f.input :actors, label: false, collection: Actor.partidos, as: :check_boxes, input_html: {class: 'uk-checkbox'}, wrapper_html: {class: 'uk-form-controls uk-form-controls-text'}, item_wrapper_class: 'uk-margin-remove', item_wrapper_tag: 'p' %>
            </div>
          </div>
          <div class="uk-width-1-3@m pt-60">
            <h3 class="font-little-title"> <%= t('topics.index.movimientos_sociales') %> </h3>
            <div class="uk-margin" style="padding-left: 25px; line-height: 1.7;">
              <%= f.input :actors, label: false, collection: Actor.movimientos_sociales, as: :check_boxes, input_html: {class: 'uk-checkbox'}, wrapper_html: {class: 'uk-form-controls uk-form-controls-text'}, item_wrapper_class: 'uk-margin-remove', item_wrapper_tag: 'p' %>
            </div>
          </div>
          <div class="uk-width-1-3@m pt-60">
            <h3 class="font-little-title"> <%= t('topics.index.sociedad_civil') %> </h3>
            <div class="uk-margin" style="padding-left: 25px; line-height: 1.7;">
              <%= f.input :actors, label: false, collection: Actor.sociedad_civil, as: :check_boxes, input_html: {class: 'uk-checkbox', data: {behaviour: 'select-all'}}, wrapper_html: {class: 'uk-form-controls uk-form-controls-text'}, item_wrapper_class: 'uk-margin-remove', item_wrapper_tag: 'p' %>
            </div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center uk-text-center pt-60" uk-grid>
          <div>
            <%= f.button :submit, class: 'font-little-title uk-button button-color-purple', value:  t('topics.index.section_filter_button_compare') %>
          </div>
          <div>
            <%= f.button :submit, class: 'font-little-title uk-button button-color-purple', name: "clear_all", value: t('topics.index.section_filter_button_compare_all') %>
          </div>
        </div>
    <% end %>
  </div>
</div>
