<%= simple_form_for [:admin, actor], html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>

  <div class="uk-margin">
    <%= f.button :submit, class: 'uk-button button-color-purple' %>
  </div>

  <div class="uk-margin">
    <%= f.label :name, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :name, input_html: {class: 'uk-input'}, label: false %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :logo, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <% if @actor.logo.attached? %>
        <label class="uk-button uk-button-default ">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :logo, as: :file %>
          </span>
        </label>
        <br>
        <img src="<%= url_for(@actor.logo) %>" width="120" height="120" uk-svg>
      <% else %>
        <label class="uk-button uk-button-default ">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :logo, as: :file %>
          </span>
        </label>
      <% end %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :actor_category, class: 'uk-form-label uk-margin-remove' %>
    <%= f.association :actor_category, label: false, wrapper_html: {class: 'uk-form-controls'}, item_wrapper_tag: 'div', input_html: {class: "uk-select" } %>
  </div>


  <div class="uk-margin">
    <h2> Preferencias para cada tema </h2>

    <% Position.all.group_by(&:question).each do |key, group| %>

      <h4 class="uk-margin-remove-bottom"><%= key.topic.name %></h4>
      <h5 class="uk-margin-remove-top"><%= key.title %></h5>

      <%= f.label :positions, class: 'uk-form-label uk-margin-remove' %>
      <%= f.input :positions, collection: group, as: :select, item_wrapper_class: 'uk-form-controls', item_wrapper_tag: 'div', label: false, input_html: {class: "uk-select", name: 'actor[actor_positions_attributes][' + key.id.to_s + '][position_id]' }, selected: [(group.map{|x| x.id} & @actor.actor_positions.map(&:position_id)).first, true], multiple: true, include_blank: true  %>


      <%= f.label :why, class: 'uk-form-label uk-margin-remove' %>
      <%= f.input_field :actor_position_description,
        class: 'uk-input',
        name: 'actor[actor_positions_attributes][' + key.id.to_s + '][description]',
        value: @actor.description_for_position(key) %>
    <% end %>
  </div>


  <div class="uk-margin">
    <%= f.button :submit, class: 'uk-button button-color-purple' %>
  </div>


<% end %>
