<ul class="uk-breadcrumb">
  <li> <%= link_to 'Actores', admin_actors_path %> </li>
  <li><span><%= @actor.name %></span></li>
</ul>

<p class="uk-label uk-text-bold"> <%= @actor.actor_category.name %> </p>
<h1 class="uk-margin-remove-top"><%= @actor.name %></h1>

<div class="uk-container">
  <%= @actor.content %>
</div>

<p> <strong>Twitter:</strong> <%= @actor.twitter %> </p>


<h3> Preferencias </h3>

<% @actor.positions.each_with_index do |position, index| %>
  <h5 class="uk-bold"><%= index %>.</h5>
  <p class="uk-text-bold uk-margin-remove">
    <%= position.question.title %>
    <span class="uk-label"> <%= position.question.topic.name %> </span>
  </p>
  <p class="uk-margin-remove-top"><%= position.title %></p>
<% end %>
