<% title t('pages.methodology.title') %>

<!-- Hero Desktop -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-met-desktop.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('pages.methodology.title') %></h1>
    </div>
  </div>
</div>

<!-- Hero Mobile -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-hidden@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-met-mobile.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('pages.methodology.title') %></h1>
    </div>
  </div>
</div>

<!-- Texto bienvenida -->
<div class="uk-section animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2> <%= t('pages.methodology.subtitle') %></h2>
        <p> <%= t('pages.methodology.content') %> </p>
        <a href = "/metodologia-chilemarcapreferencia.pdf" class="font-little-title uk-button button-color-purple" target="_blank"> <%= t('pages.methodology.button') %> </a>
      </div>
      <div class="uk-width-1-1">
        <h3 class="pt-60"> <%= t('pages.methodology.topics') %></h3>
      </div>
      <div class="uk-child-width-1-3 uk-child-width-1-5@m uk-flex uk-flex-center pb-60" uk-grid uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
        <% @topics.each do |topic| %>
        <div class="icon-methodology">
          <% if topic.icon.attached? %>
            <img class="icon-methodology" src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
          <% end %>
          <p class="font-little-title font-700"><%= topic.name %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
