<% title t('preference.title') %>
<% meta_tag :description, 'Yo ya elegí: ' + @preference.position.title %>
<% meta_tag :url, "#{root_url}preferences/your_preferences?id=#{@preference.id}" %>

<% if @preference.position.image_to_share.attached? %>
  <% meta_tag :image_to_share, "#{root_url}#{url_for(@preference.position.image_to_share)}" %>
<% end %>
<% if @preference.position.image_to_share_twitter.attached? %>
  <% meta_tag :image_to_share_twitter, "#{root_url}#{url_for(@preference.position.image_to_share_twitter)}" %>
<% end %>


<!-- Hero Desktop -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-test-desktop.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('preference.title') %></h1>
    </div>
  </div>
</div>

<!-- Main section -->
<div class="uk-section animated fadeIn delay-1s fast">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <p> <%= t('preference.share_preference_description') %> </p>
      </div>
    </div>
    <!-- Steps -->
    <div class="uk-flex uk-flex-center uk-text-center" uk-grid>
      <div class="uk-width-1-3">
        <div class="tab-inactive">
          <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26 52C40.3594 52 52 40.3594 52 26C52 11.6406 40.3594 0 26 0C11.6406 0 0 11.6406 0 26C0 40.3594 11.6406 52 26 52ZM24.4198 17.248V31.472H18.8758V35H32.9878V31.472H28.1158V15.4H20.8918L18.5398 23.632V23.968H22.0678L23.9158 17.248H24.4198Z"/>
          </svg>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div class="tab-inactive">
          <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26 52C40.3594 52 52 40.3594 52 26C52 11.6406 40.3594 0 26 0C11.6406 0 0 11.6406 0 26C0 40.3594 11.6406 52 26 52ZM32.6237 35V31.472H22.5437V31.136C22.5437 30.744 22.5997 30.3987 22.7117 30.1C22.8424 29.7827 23.0664 29.4933 23.3837 29.232C23.701 28.9707 24.1397 28.7373 24.6997 28.532C25.2784 28.308 26.0064 28.0933 26.8837 27.888C28.9744 27.4027 30.477 26.6187 31.3917 25.536C32.325 24.4533 32.7917 23.0907 32.7917 21.448V21.112C32.7917 20.328 32.6424 19.572 32.3437 18.844C32.0637 18.0973 31.625 17.444 31.0277 16.884C30.449 16.324 29.721 15.876 28.8437 15.54C27.9664 15.1853 26.9397 15.008 25.7637 15.008C24.6624 15.008 23.673 15.1947 22.7957 15.568C21.9184 15.9227 21.1717 16.4173 20.5557 17.052C19.9584 17.668 19.4917 18.396 19.1557 19.236C18.8384 20.0573 18.6797 20.9253 18.6797 21.84V23.408H22.3757V22.176C22.3757 21.0373 22.693 20.1507 23.3277 19.516C23.9624 18.8627 24.8117 18.536 25.8757 18.536C26.8837 18.536 27.6677 18.7973 28.2277 19.32C28.8064 19.8427 29.0957 20.496 29.0957 21.28C29.0957 21.6907 29.0397 22.064 28.9277 22.4C28.8344 22.7173 28.6477 23.016 28.3677 23.296C28.0877 23.5573 27.705 23.8 27.2197 24.024C26.753 24.2293 26.1464 24.416 25.3997 24.584C24.3917 24.808 23.4864 25.088 22.6837 25.424C21.881 25.7413 21.1904 26.152 20.6117 26.656C20.0517 27.16 19.613 27.776 19.2957 28.504C18.997 29.232 18.8477 30.1093 18.8477 31.136V35H32.6237Z"/>
          </svg>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div class="tab-active">
          <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26 52C40.3594 52 52 40.3594 52 26C52 11.6406 40.3594 0 26 0C11.6406 0 0 11.6406 0 26C0 40.3594 11.6406 52 26 52ZM23.6919 20.776V26.6H25.8759C26.7532 26.6 27.4719 26.8054 28.0319 27.216C28.6105 27.608 28.8999 28.2427 28.8999 29.12C28.8999 29.9414 28.6292 30.604 28.0879 31.108C27.5652 31.612 26.8092 31.864 25.8199 31.864C24.6625 31.864 23.7945 31.5374 23.2159 30.884C22.6372 30.2307 22.3479 29.456 22.3479 28.56V27.552H18.6519V28.728C18.6519 29.624 18.8199 30.4734 19.1559 31.276C19.4919 32.0787 19.9679 32.788 20.5839 33.404C21.2185 34.02 21.9839 34.5054 22.8799 34.86C23.7759 35.2147 24.7745 35.392 25.8759 35.392C26.9585 35.392 27.9199 35.2334 28.7599 34.916C29.5999 34.5987 30.2999 34.1694 30.8599 33.628C31.4385 33.068 31.8679 32.4147 32.1479 31.668C32.4465 30.9214 32.5959 30.1094 32.5959 29.232V28.896C32.5959 28 32.4372 27.2254 32.1199 26.572C31.8025 25.9 31.3825 25.34 30.8599 24.892C30.3559 24.444 29.7679 24.1174 29.0959 23.912C28.4239 23.688 27.7425 23.576 27.0519 23.576H26.3799V23.072L31.5879 21.56V15.4H18.8199V18.928H28.5639V19.432L23.6919 20.776Z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-90 uk-container" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="uk-text-center pb-60"> <%= t('preference.compare_share') %> </h2>
        <div uk-alert><%= t('pages.index.actors_disclaimer') %></div>
      </div>
    </div>
  </div>
  <div class="uk-container pt-90 mb-120">
      <div uk-grid>
        <div class="uk-width-1-1">
          <div class="uk-flex uk-flex-between" uk-grid>
            <div class="uk-inline">
              <img class="uk-float-left" data-src="<%= asset_path('polygon-purple.svg') %>" alt="" uk-img>
              <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> Tú </h3>
            </div>
            <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-red.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.partidos') %> </h3>
          </div>
          <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-pink.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.movimientos_sociales') %> </h3>
          </div>
          <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-blue.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.sociedad_civil') %> </h3>
          </div>
          </div>
        </div>
      </div>
    </div>
  <div class="uk-container" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-6@m uk-text-center icon-topics icon-topics-preference">
        <% if @preference.position.question.topic.icon.attached? %>
          <img src="<%= url_for(@preference.position.question.topic.icon) %>" width="40" height="40" uk-svg>
        <% end %>
        <h3 class="font-small-title" style="margin-top: 10px;"><%= @preference.position.question.topic.name %></h3>
      </div>
      <div class="uk-width-5-6@m">
          <div class="uk-card uk-card-default">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title font-question uk-margin-remove-bottom">
                    <%= @preference.position.question.title %>
                  </h3>
                </div>
              </div>
            </div>
            <div class="uk-card-body" style="padding: 30px 30px 30px 50px;">
              <div class="uk-margin">
                <div>
                  <div class="uk-child-width-1-<%=@preference.position.question.positions.count%>@m uk-text-center" uk-grid>
                    <% @preference.position.question.positions.order(:scale).each do |position| %>
                      <div class="uk-flex uk-flex-center uk-flex-bottom">
                        <p class="font-compressed"> <%= position.title %> </p>
                      </div>
                    <% end %>
                  </div>

                  <div class="uk-child-width-1-<%=@preference.position.question.positions.count%>@m uk-text-center" uk-grid>
                    <% @preference.position.question.positions.order(:scale).each_with_index do |position, index| %>
                      <div>
                        <% if index == 0 %>
                          <!-- Si es la primera posición: -->
                          <div class="line-container line-container-left"></div>
                        <% elsif index == (@preference.position.question.positions.count - 1)  %>
                          <!-- Si es la última posición: -->
                          <div class="line-container line-container-right"> </div>
                        <% else %>
                          <!-- Si es una posición del medio: -->
                          <div class="line-container"></div>
                        <% end %>
                        <img class="icon-topics-pin-desktop" data-src="<%= asset_path('icon-topics-pin-desktop.svg') %>" alt="" uk-img>
                      </div>
                    <% end %>
                  </div>
                  <div class="uk-child-width-1-<%=@preference.position.question.positions.count%>@m uk-text-center" uk-grid>
                    <% @preference.position.question.positions.order(:scale).each do |position| %>
                      <div class="">
                        <% if @preference.position == position %>
                          <span class="uk-label your-position"> Tú</span>
                        <% end %>
                        <% position.actor_positions.each do |actor_position| %>
                          <% if actor_position.description %>
                            <!-- This is an anchor toggling the modal -->
                            <a class="class-<%=actor_position.actor.actor_category.name.parameterize%>" href="#modal-<%= actor_position.id %>" uk-toggle><%= actor_position.actor.name %> <img class="icon-topics-info" data-src="<%= asset_path('icon-topics-info.svg') %>" alt="" uk-img></a>
                            <!-- This is the modal -->
                            <div id="modal-<%= actor_position.id %>" uk-modal>
                              <div class="uk-modal-dialog uk-modal-body uk-text-center">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-text-center icon-topics-modal">
                                  <% if @preference.position.question.topic.icon.attached? %>
                                    <img src="<%= url_for(@preference.position.question.topic.icon) %>" width="40" height="40" uk-svg>
                                  <% end %>
                                  <p class="font-700 font-little-title" style="margin-top: 9px;"><%= @preference.position.question.topic.name %></p>
                                </div>
                                <h2 class="font-700 font-question" style="margin: 0 0 50px;"><%= @preference.position.question.title %></h2>
                                <h3 class="class-<%=actor_position.actor.actor_category.name.parameterize%>"><%= actor_position.actor.name %></h3>
                                <p class="font-compressed uk-text-bold"><%= actor_position.position.title %></p>
                                <p class="font-compressed"><%= actor_position.description %></p>
                              </div>
                            </div>
                          <% else %>
                            <a class="class-<%=actor_position.actor.actor_category.name.parameterize%>"><%= actor_position.actor.name %> </a>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-60">
          <% if @preference.position.image_to_share.attached? %>
            <img src="<%= url_for(@preference.position.image_to_share) %>" width="100%" uk-svg>
          <% end %>
          </div>
          <div class="uk-inline uk-margin uk-align-right">
            <p class="uk-float-left font-700" style="line-height: 2; margin-right: 10px;">Comparte tu preferencia</p>

            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fchilemarcapreferencia.cl%2Fpreferences%2Fyour_preferences%3Fid%3D<%=@preference.id%>&layout=button&size=small&appId=1006062909900289&width=89&height=20&redirect_uri=https%3A%2F%2Fchilemarcapreferencia.cl%2Fpreferences%2Fchoose_topic" width="89" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Ya elegí: <%= @preference.position.title %>" data-url="https://chilemarcapreferencia.cl/preferences/your_preferences?id=<%=@preference.id%>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>
      </div>
    </div>
    <div class="uk-margin uk-align-right pt-60">
      <%= link_to t("preference.choose_another_topic"), preferences_choose_topic_path, class: 'font-little-title uk-button button-color-purple' %>
    </div>
  </div>
</div>
