<%= simple_form_for [:admin, @question], html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>

  <div class="uk-margin">
    <%= f.label :title, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :title, label: false, input_html: {class: 'uk-input'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :topic, class: 'uk-form-label uk-margin-remove' %>
    <%= f.association :topic, label: false, wrapper_html: {class: 'uk-form-controls'}, item_wrapper_tag: 'div', input_html: {class: "uk-select" } %>
  </div>

  <div class="">
    <h3>Preferencias</h3>
    <div id='tasks'>
      <div class='links'>
        <%= link_to_add_association 'Agregar preferencias', f, :positions %>
      </div>

      <%= f.simple_fields_for :positions do |position| %>
        <%= render 'position_fields', :f => position %>
      <% end %>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, class: 'uk-button button-color-purple' %>
    </div>
  </div>

<% end %>
