<div class='nested-fields'>
  <div class="uk-margin">
    <%= f.label :title, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :title, class: 'uk-input' %>
    </div>
  </div>
  <div class="uk-margin">
    <%= f.label :scale, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :scale, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :image_to_share, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <label class="uk-button uk-button-default ">
        Subir desde tu computador
        <span style="display:none;">
          <%= f.input_field :image_to_share, as: :file %>
        </span>
      </label>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :image_to_share_twitter, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <label class="uk-button uk-button-default ">
        Subir desde tu computador
        <span style="display:none;">
          <%= f.input_field :image_to_share_twitter, as: :file %>
        </span>
      </label>
    </div>
  </div>


  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= link_to_remove_association "Eliminar posición", f %>
    </div>
  </div>
</div>
