<p id="notice"><%= notice %></p>

<h1>Preguntas</h1>

<%= link_to 'Nueva pregunta', new_admin_question_path %>

<table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Pregunta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.topic.name %></td>
        <td><%= question.title %></td>
        <td><%= link_to 'Ver', admin_question_path(question) %></td>
        <td><%= link_to 'Editar', edit_admin_question_path(question) %></td>
        <td><%= link_to 'Eliminar', admin_question_url(question), method: :delete, data: { confirm: '¿Confirmas que deseas eliminar la pregunta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
