<ul class="uk-breadcrumb">
  <li> <%= link_to 'Preguntas', admin_questions_path %> </li>
  <li><span>Nueva Pregunta</span></li>
</ul>

<h1> Nueva Pregunta</h1>

<div class="uk-container">
  <%= render 'form', question: @question %>
</div>
