<p id="notice"><%= notice %></p>

<ul class="uk-breadcrumb">
  <li> <%= link_to 'Usuarias', admin_users_path %> </li>
  <li><span><%= @user.email %></span></li>
</ul>

<h1 class="uk-margin-remove"> <%= @user.email %> </h1>

<div class="uk-container uk-text-right uk-padding">
  <%= link_to 'Editar', edit_admin_user_path(@user), class: 'uk-button button-color-purple' %>
</div>
