<!DOCTYPE html>
<html>
  <head>
    <title>Administración Chile marca preferencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="uk-grid-small uk-flex-center" uk-grid>

      <div class="uk-width-1-4@s">
        <ul class="uk-nav-default uk-nav-parent-icon uk-padding" uk-nav>
          <li class="uk-active"><a href="#">Resumen</a></li>
          <li> <%= link_to 'Categorías', admin_topics_path %></li>
          <li> <%= link_to 'Preguntas', admin_questions_path %></li>
          <li> <%= link_to 'Tipos de actores', admin_actor_categories_path %></li>
          <li> <%= link_to 'Actores', admin_actors_path %></li>
          <li> <%= link_to 'Administradoras', admin_users_path %></li>

          <li class="uk-nav-divider"></li>

          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path) %>
            </li>
          <% end %>

        </ul>
      </div>

      <div class="uk-width-3-4@s">
        <div class="uk-container">
          <%= yield %>
        </div>
      </div>

    </div>

  </body>
</html>
