<!DOCTYPE html>
<html>
  <head>
    <title> <%= if content_for?(:title) then yield(:title) + ' | ' end %> Chile marca preferencia </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='description' content='<%= yield_meta_tag(:description, 'Compara aquí las posturas de distintos actores políticos para Chile a raíz del plebiscito 2020 ') %>'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= yield_meta_tag(:url, root_url) %>">
    <meta property="og:title" content="<%= if content_for?(:title) then yield(:title) + ' | ' end %> Chile marca preferencia">
    <meta property="og:description" content="<%= yield_meta_tag(:description, 'Compara aquí las posturas de distintos actores políticos para Chile a raíz del plebiscito 2020 ') %>">
    <meta property="og:image" content="<%= yield_meta_tag(:image_to_share, asset_path('og-img.png')) %>">

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Twitter -->
    <meta name="twitter:title" content="<%= if content_for?(:title) then yield(:title) + ' | ' end %> Chile marca preferencia">
    <meta name="twitter:description" content="<%= yield_meta_tag(:description, 'Compara aquí las posturas de distintos actores políticos para Chile a raíz del plebiscito 2020 ') %>">
    <meta name="twitter:image" content="<%= yield_meta_tag(:image_to_share_twitter, asset_path('og-img.png')) %>">
    <meta name="twitter:card" content="summary_large_image">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JXVY08S1CY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JXVY08S1CY');
</script>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>


</html>
